extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p My name is Konstantina. I create websites aimed for businesses who want to enhance their web presence. I live in Greece but cooperate with businesses throughout the world.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
              .cell
                a(href=`/projects/${project.id}`)
                  img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
                  h5= project.project_name

